@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive; */

.project__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6rem;
}
.project__navbar--links {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/*/////////////////////////////////////////////////////////////////////////////*/
.project__navbar--links_logo{
  width: 250px;
  display: flex;
  margin-top: -10px;
  margin-bottom: -10px;
}
.project__navbar--links_img{
  margin:0px 0  0 -50px;
}
img{
  border-radius: 10px;
}
.project__navbar--links_Name{
  display: flex;
}
.part1{
  font-family: 'Dancing Script', cursive; 
 font-size: 50px;
 margin-top: -50px;
 margin-left: 10px;
 color: var(--color2);
}
.part2{
  font-family: 'Dancing Script', cursive;
  color: var(--color1); 

}

/*////////////////////////////////////////////////////////////////////////////*/
.project__navbar--links_container {
  display: flex;
  flex-direction: row;
}
.project__navbar--links_container a{
    transition: 0.3s;
}
.project__navbar--links_container a:hover{
    color: #ff4820;
}
.project__navbar--links_container p::before{
    content: "|";
    margin-right: -6px;
    
}
.project__navbar--sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.project__navbar--links_container p,
.project__navbar--sign p,
.project__navbar--menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}
.project__navbar--sign button {
  padding: 0.5rem 1rem;
  padding-left: 10px;
  color: #fff;
  width: 120px;
  height: 50px;
  left: 1153px;
  top: 55px;
  background-color: #ff4820;
  border-radius: 5px;
  font-family: var(--font-family);
  font-weight: 500;
  border-radius: 5px;
  font-size: 20px;
  line-height: 25px;
  border: 2px solid transparent;
  transition: 0.4s;   
}
.project__navbar--sign button:hover {
  background-color: transparent;
  border: 2px var(--color1) solid; /*tzayan l subscribe*/
}
.aa{
  padding-left: 1px;
  padding-right: 0;
 
}