
.project__footer{
    background-color: var(--color4);
   padding-left: 20px;
   display: flex;
   justify-content: center;
   color:black;
   padding-top: 100px;
   height: 300px;

}
.ressource{
    position: relative;
    right: 5%;
    /* left: 15%; */
}
.ressource h1{
    color:;
}
.service-client{
    position: relative;
    
}
a {
    padding-left: 15px;
    line-height: 25px;
    font-size: 15px;    
    font-weight: 10;     
}
a:hover{
    color:var(--color2);
}
.aboutus{
    display: block;
    position: relative;
    left: 5%; 
}
details{
    font: 16px "Open Sans", Calibri, sans-serif;
    width: 80px;
}
summary{
    list-style: none;
    
}
details img{
    margin-top: 20px;
    box-shadow: 3px 3px 4px black;
    cursor: pointer;         /*ki tnzel 3l tswira t5dem l details*/
    list-style: none;
    border-radius: 50px;
    display: flex;
    width: 35px;
    height: 35px;
}
.socialmedia{
    display: flex;
    flex-wrap: wrap;
}